<main>
  <!-- Lista de colores -->
  <app-lista-colores (colorSeleccionado)="manejarColorSeleccionado($event)"></app-lista-colores>
  <p>Color seleccionado: {{ colorSeleccionado }}</p>

  <!-- Alertas -->
  <app-alerta mensaje="Operación exitosa" tipo="success"></app-alerta>
  <app-alerta mensaje="Ocurrió un error" tipo="error"></app-alerta>
  <app-alerta mensaje="Esto es una advertencia" tipo="warning"></app-alerta>

  <!-- Lista de productos -->
  <app-lista-productos [productos]="['Producto 1', 'Producto 2', 'Producto 3']"></app-lista-productos>
</main>

<router-outlet></router-outlet>
